{% extends 'layout.html' %}

{% block pageheader %}
<span class="navbar-brand">Change password</span>
{% endblock %}

{% block content %}
<div style="max-width:500px;">
    <form method="POST">
        {{ form.hidden_tag() }}
            
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                {% if message == 'Password changed.' %}
                <div class="alert alert-success alert-dismissable">
                {% else %}
                <div class="alert alert-danger alert-dismissable">
                {% endif %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    
        {% if form.old_password.errors %}
            {% for error in form.old_password.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <div class="form-group row">
            {{ form.old_password.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
                {{ form.old_password(class="form-control") }}
            </div>
        </div>
    
        {% if form.new_password.errors %}
            {% for error in form.new_password.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group row">
            {{ form.new_password.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
                {{ form.new_password(class="form-control") }}
            </div>
        </div>
    
        {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
                <p class="error-message"><strong>{{ error }}</strong></p>
            {% endfor %}
        {% endif %}
        <div class="form-group row">
            {{ form.confirm_password.label(class="col-sm-4 col-form-label") }}
            <div class="col-sm-8">
                {{ form.confirm_password(class="form-control") }}
            </div>
        </div>
    
        <div class="form-group row">
            <div class="offset-sm-4 col-sm-8">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>
</div>

<br><hr>

<h1>Current accounts</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in all_users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}