{% extends 'layout.html' %}

{% block pageheader %}
<span class="navbar-brand">Uploaded Files</span>
{% endblock %}

{% block content %}
<nav aria-label="Uploaded Files">
    <ul class="pagination justify-content-center">
        
        {# Previous page #}
        {% if files.has_prev %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=files.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        
        {% if start_page > 3 %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=1) }}">
                1
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=2) }}">
                2
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        {% endif %}
        
        {% for i in range(start_page, end_page+1) %}
        {% if i == files.page %}
        <li class="page-item active">
        {% else %}
        <li class="page-item">
        {% endif %}
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=i) }}">{{ i }}</a>
        </li>
        {% endfor %}
        
        {% if end_page < total_pages-3 %}
        <li class="page-item disabled">
            <a class="page-link" href="#">...</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=total_pages-1) }}">
                {{ total_pages-1 }}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=total_pages) }}">
                {{ total_pages }}
            </a>
        </li>
        {% endif %}
        
        {# Next page #}
        {% if files.has_next %}
        <li class="page-item">
        {% else %}
        <li class="page-item disabled">
        {% endif %}
            <a class="page-link" href="{{ url_for('admin.wiki_show_all_files', group=group, page=files.next_num) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
        </li>
        
    </ul>
</nav>

<form action="{{ url_for('admin.wiki_group_delete_file', group=group) }}" method="POST" id="delete-form" style="display:none;">
    {{ form.hidden_tag() }}
    {{ form.file_id(id="file_id") }}
    {{ form.submit }}
</form>

<style>.delete-file {cursor:pointer;}</style>
<div align="center">
    <table align="center">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Size (bytes)</th>
                <th>Uploaded by</th>
                <th>Uploaded on</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files.items %}
            <tr id="row-{{ file.id }}">
                <td align="center">{{ file.id }}</td>
                <td align="center"><a class="wiki-file" href="{{ url_for('main.wiki_file', group=group, file_id=file.id) }}">{{ file.name }}</a></td>
                <td align="center">{{ file.mime_type }}</td>
                <td align="center">{{ '{:,}'.format(file.size) }}</td>
                <td align="center">{{ file.uploaded_by }}</td>
                <td align="center">{{ file.uploaded_on.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                <td align="center"><a class="delete-file" id="delete-file{{ file.id }}" style="color:red;">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br><br><br><br><br><br>
{% endblock %}

{% block scriptblock %}
<script type="text/javascript">
    $('.delete-file').on("click", function(e) {
        if (confirm('Are you sure to delete uploaded file?')) {
            var file_id = $(this).attr('id').replace('delete-file', '') * 1;
            $('#file_id').val(file_id);
            $.ajax({
                url:'{{ url_for('admin.wiki_group_delete_file', group=group) }}',
                type:'POST',
                data:$('#delete-form').serialize(),
                success:function(){
                    $('#row-' + file_id).remove();
                }
            });
        }
    });
</script>
{% endblock %}