{% extends 'admin/layout.html' %}

{% block pageheader %}
<span class="navbar-brand">Recent User Activities</span>
{% endblock %}

{% block content %}
<small>Most recent login record for each user</small><br>
<table align="center" class="table table-sm">
    <thead>
        <tr>
            <th>Username</th>
            <th>IP address</th>
            <th>Browser</th>
            <th>Platform</th>
            <th>Time</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for rec in records %}
        <tr>
            <td align="center">{{ rec.username }}</td>
            <td align="center">{{ rec.ip }}</td>
            <td align="center">{{ rec.browser }}</td>
            <td align="center">{{ rec.platform }}</td>
            <td align="center">{{ rec.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
            <td align="center">{{ rec.details }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br><br><br><br><br><br><br><br>
{% endblock %}