{% extends 'layout.html' %}

{% block pageheader %}
<span class="navbar-brand">{{ page.title }} - References</span>
{% endblock %}

{% block content %}
    <div><a href="{{ url_for('main.wiki_page', group=group, page_id=page.id) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">❮ Back</a></div><br>

    {% for p in referenced_by %}
        <a href="{{ url_for('main.wiki_page', group=group, page_id=p.id) }}" class="wiki-page">{{ p.title }}</a><br>
    {% endfor %}
{% endblock %}