{% extends 'layout.html' %}

{% block pageheader %}
<span class="navbar-brand">Rename {{ page.title }}</span>
{% endblock %}

{% block content %}

<div><a href="{{ url_for('main.wiki_page', group=group, page_id=page.id) }}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">❮ Back</a></div><br>

    <form method="POST">
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ message }}</strong>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% if form.new_title.errors %}
            {% for error in form.new_title.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
        {{ form.new_title.label(class="sr-only") }}
        {{ form.new_title(class="form-control", placeholder="New title") }}
        </div>
        <div class="form-group">
        {{ form.submit(class="btn btn-primary col-2") }}
    </div>
    </form>
    
    <div class="misc">
        <small><i>The new page title will be updated for all the pages which referenced it.</i></small>
    </div>
{% endblock %}